:root {
    --main-bg-color: rgb(98, 161, 156);
    --main-bg-navbar: rgb(169, 214, 199);
    --mian-bg-home:rgb(61 184 127 / 50%);
}
body{
    background-color: var(--main-bg-navbar);
}
.btn{
    padding: 5px 50px;
    background: var(--mian-bg-home);
    margin: 25px 0 20px 0;
    border: 2px solid var(--main-bg-color);
    border-radius: 20px;
    font-size: 20px;
}
.btn:hover{
    padding: 5px 50px;
    background: rgb(159, 242, 204);
    margin: 25px 0 20px 0;
    border: 2px solid var(--main-bg-color);
    border-radius: 20px;
    font-size: 20px;
}
.box1{
width: 500px;
height: 300px;
    margin-top: 50px;
}
.boxs{
    background-color: var(--mian-bg-home);
    height: 300px;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 0 0 5px 5px var(--main-bg-color);
    margin-right: 10px;
font-size: 19px;
}
.icon a{
    text-decoration: none;
    color: black;
    
}
.container1{
    height: 150px;
}

.container2{
    height: 150px;
}
.icon{
    height: 68px;
    border: 2px solid black;
    /* padding: 20px; */
    width: 153px;
    border-radius: 7px;
    opacity: .7;
}
.sandbtn
{
    background: var(--mian-bg-home);
    margin: 20px 0px;
    padding: 5px 40px;
    border-radius: 10px;
    border: 2px solid var(--main-bg-color);
    text-decoration: none;
    color: black;
    width: 170px;
}
.sandbtn:hover{
    background: rgb(159, 242, 204);
    border: 2px solid var(--main-bg-color);

}
.sendcard{
    background: #d3fff14a;
    padding: 40px 30px;
}
.sendheader{
    color:var(--main-bg-home);
    font-family: 'Bruno Ace SC', cursive;
    margin: 20px 0px;

}