{% extends 'base.html' %}
{% block title %}
    index
{% endblock title %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
{% endblock %}
{% block body %}

<div class="contant">
    <div class="container d-flex align-items-center">
      <div
        class="card border-none m-auto login d-flex align-items-center"
        style="width: 500px"
      >
        <div class="container d-flex justify-content-center">
          <h1 class="header">Forgot Password</h1>
        </div>
        <form class="form" action="/forgot" method="POST">
          <div class="label d-flex align-items-center">
            <span class="material-symbols-outlined">Email </span>
            <input
              type="email"
              class="fc"
              name="email"
              id="exampleInputEmail1"
              placeholder="Email"
            />
          </div>
          <div class="container d-flex justify-content-center">
            <button type="submit" class="btn bttn">Send Reset link</button>
            <a href="/login" class="btn bttn px-4 mx-3">Back to login</a>

          </div>
        </form>
        
      </div>
    </div>
  </div>
    {% endblock body %}

