{% extends 'base.html' %}
{% block title %}
index
{% endblock title %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/st.css') }}" />
{% endblock %}
{% block body %}
{% include 'nav.html' %}
<div class="container px-4 text-center  box1">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 boxs"> 
        <div class="container1 my-3">
          Wanna share something?? Share the links to students via Gmail.
          <!-- Share the link of Google Docs via Gmail to the students.  -->
        </div>
        <div class="icon mt-3">
          <a href="/sendmail"><img src="static\img\paper-plane-regular (1).svg" alt="" height="30px"><br /><b>Send email</b></a>
          
        </div>
       
      </div>
    </div>
    <div class="col">
      <div class="p-3 boxs">
        <div class="container2 my-3">
          Remind the students who haven't submitted the form yet and take follow-up.
        </div>
<div class="icon">
        <a href="/reminder"><img src="/static/img/bell-regular.svg" alt="" height="30px" ><b>Send Reminder</b> </a>
        
      </div>
      </div>
    </div>
  </div>
</div>


{% endblock body %}