
    <nav class="navc">
        <!-- <img src="img/aryan2-removebg-preview.png" class="logo" alt=""> -->
        <h1 class="subtitle"><span>Binary Bits</span></h1>
        <ul id="sidemenu">
            <li><a href="#header">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Service</a></li>
            <li><a href="#portfoliyo">Portfoliyo</a></li>
            <li><a href="#contact">Contact</a></li>
            <i class="fas fa-times" onclick="closemenu()"></i>
        </ul><i class="fas fa-bars" onclick="openmenu()"></i>
            <a type="submit" href="/logout" class="btn btn-primary blogout">Logout</a>
    </nav>
