{% extends 'base.html' %}
{% block title %}
    sendreminder
{% endblock title %}
{% block style %}
    {{super()}}
    <link rel="stylesheet" href="">
{% endblock style %}
{% block body %}
<div class="container d-flex justify-content-between align-items-center">
  <div><span class="fs-2"><b>binarybits</b></span></div>
  <button class="btn">logout</button>
</div>
    <form action="/sendreminder" method="POST">
  <div class="container">
    


      <div class="form-group">
        <label for="text">Google Sheet Name :</label>
        <input type="text" class="form-control" id="googleSheet" name="googlesheet" placeholder="Enter Google Sheet Name">
        <small class="invalid-feedback is-invalid">Please Enter Google Sheet Name</small>
      </div>

      <div class="form-group">
        <label for="text">Sub Sheet Name :</label>
        <input type="text" class="form-control" id="subSheet" name="subsheet" placeholder="Enter Sub Sheet Name">
        <small class="invalid-feedback is-invalid">Please Enter Sub Sheet Name</small>
      </div>

    <div class="form-group">
      <label for="batch">Select form that you have sent :</label>
      <select class="form-control" name="title" id="batch">
        <option>--Select--</option>
        <{% for result in result%}
        <option>{{ result[0] }}</option>
        {% endfor %}
      </select>
      <small class="invalid-feedback is-invalid">Please select batch</small>
    </div>

    <div class="form-group">
      <label>Message :</label>
      <textarea placeholder="Enter Message" name="msg" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <!-- <div class="form-group">
      <label for="department">Select your department :</label>
      <select class="form-control" name="department" id="department" placeholder="Select your department">
        <option>None</option>
        <option>CE</option>
        <option>IT</option>
        <option>BM</option>
        <option>MET</option>
        <option>MECH</option>
        <option>CIVIL</option>
        <option>EC</option>
        <option>IC</option>
      </select>
      <small class="invalid-feedback is-invalid">Please select department</small>
    </div> -->
    <!-- <div class="form-group">
      <label for="semester">Select your semester :</label>
      <select class="form-control" name="semester" id="semester">
        <option>None</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
      </select>
      <small class="invalid-feedback is-invalid">Please select semester</small>
    </div>
    <div class="form-group">
      <label for="batch">Select your batch :</label>
      <select class="form-control" name="batch" id="batch">
        <option>None</option>
        <option>A</option>
        <option>B</option>
      </select>
      <small class="invalid-feedback is-invalid">Please select batch</small>
    </div> -->
    

    <div class="sendBtn">
      <button type="submit" style="font-size:20px" name="reminder" id="sendBtn"><i class="fa fa-bell"></i><br>
        Send Reminder</button>
    </div>
    
    <div class="followupBtn">
        <button type="followup" name="followup" style="font-size:20px" id="followupBtn"> <i class="fa fa-check"></i><br>Follow up</button>
    </div>
  </form>
  
  {% endblock body %}